<div class="modal">
    <ion-header-bar class="bar-positive">
      <h1 class="title">About</h1>
      <button class="button icon ion-close-round" ng-click="closeModal()"></button>
    </ion-header-bar>
    <ion-content>
    <div class="padding" style="text-align:center">
      <p >
        <h1 class="amatic-bold">{{appInfo.title}}</h1>
        <h2 class="amatic-bold">version {{appInfo.version}}</h2>
        <img src="img/inmagik_small.png" alt="" class="about-logo">
      </p>
    </div>
    </ion-content>
    <ion-footer-bar class="bar-positive">
      <h1 class="title">{{ appInfo.title }} &copy; Inmagik SRL</h1>
    </ion-footer-bar>

</div>
<!--
<ion-view title="About">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header has-footer" >
    <div class="card">
        <div class="item item-text-wrap">
            <div style="text-align:center">
                <h1>{{ appInfo.title }}</h1>    
                <p>
                    Hey, welcome to the jungle!
                </p>
            </div>
            
            
        </div>
    </div>
  </ion-content>
    <div class="bar bar-footer bar-positive">
        <div class="title">{{ appInfo.title }} &copy; Inmagik SRL</div>
    </div>
</ion-view>
-->