<div class="modal">
    <ion-header-bar class="bar-positive">
      <h1 class="title">About</h1>
      <button class="button icon ion-close-round" ng-click="closeModal()"></button>
    </ion-header-bar>
    <ion-content>
    <div class="padding about-text">
      <div class="text-center">
        <h1 class="amatic-bold">{{appInfo.title}}</h1>
        <h2 class="amatic-bold">version {{appInfo.version}}</h2>
        <img src="img/inmagik_small.png" alt="" class="about-logo">
      </div>
      <br>
      <div class="padding text-center">
      
        <p>
            This application provides a <b>full offline browsing</b> of a dataset derived from:
            <ul>
                <li>Map tiles from the OpenStretMap project</li>
                <li>A selection of points of interests the OpenStretMap project</li>
            </ul>
        </p>
        <p>
          The map covers the box ranging from ({{config.extent[0]}}, {{config.extent[1]}}) to ({{config.extent[2]}}, {{config.extent[3]}}) - WGS84 projection system.
        </p>
        <p>
          The data displayed has been updated on {{ config.data_update }}. 
        </p>
        

        <h2 class="amatic-bold">Data licences</h2>
        <p>
                Map tiles and data © OpenStreetMap contributors.<br/>
                <p>
                   You can find the full information about OpenStretMap data licensing at this page: <br/>
                   <a href="http://www.openstreetmap.org/copyright" target="_blank">http://www.openstreetmap.org/copyright</a><br>
                </p>
                
                <!--<div ng-include src="'data/licenses/odbl-10.txt'"></div>-->
          </p>
            

    </div>




    </div>
    </ion-content>
    <ion-footer-bar class="bar-positive">
      <h1 class="title">{{ appInfo.title }} &copy; Inmagik SRL</h1>
    </ion-footer-bar>

</div>
<!--
<ion-view title="About">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header has-footer" >
    <div class="card">
        <div class="item item-text-wrap">
            <div style="text-align:center">
                <h1>{{ appInfo.title }}</h1>    
                <p>
                    Hey, welcome to the jungle!
                </p>
            </div>
            
            
        </div>
    </div>
  </ion-content>
    <div class="bar bar-footer bar-positive">
        <div class="title">{{ appInfo.title }} &copy; Inmagik SRL</div>
    </div>
</ion-view>
-->