<div class="modal" ng-controller="BrowserCtrl">
    <ion-header-bar class="bar-positive">
      <button class="button icon ion-arrow-left-a" ng-if="browserStatus.layer" ng-click="back()"></button>
      <h1 class="title">{{browserTitle}}</h1>
      <button class="button icon ion-close-round" ng-click="closeBrowser()"></button>
    </ion-header-bar>
    <ion-content >
    
      <div class="list slideright" ng-if="browserStatus.layer == null" style="z-index=10">
        <a href="#" class="item" ng-repeat="layer in layers" ng-click="toLayer(layer)">
          <img class="icon-title" src="{{ getLayerIcon(layer) }}" alt=""> {{layer}}
        </a>
      </div>

      <div class="list slideright" ng-if="browserStatus.layer != null && browserStatus.feature == null" style="z-index=11">
        
        <a href="#" class="item" ng-repeat="feature in features" ng-click="toFeature(feature)">
          <!--<img src="{{ feature._icon }}" alt="">--> 
          {{ feature._title }} <br>
          <small>{{ feature.address.road}} <span ng-if="feature.address.suburb">{{ feature.address.suburb }}, </span>
            {{feature.address.city }} ({{feature.address.county }})</small>
          
        </a>
      </div>

      <div class="slideright padding" ng-if="browserStatus.feature != null" style="z-index=12">
        <div class="card">
          <div class="row">
            <div class="col col-66">
              <h3>
                <img class="icon-title"  src="{{ browserStatus.feature._icon }}" alt="">
                {{ browserStatus.feature._title }}
              </h3>    
            </div>
            <div class="col col-33">
              <button class="button button-calm button-small" ng-click="centerFeature(browserStatus.feature)" style="float:right;">
                <i class="icon ion-android-location"></i>
              </button>
            </div>
          </div>
        
          
          <div ng-if="getTemplateForLayer(browserStatus.layer)" class="padding">
            <div ng-include="getTemplateForLayer(browserStatus.layer)">
              
            </div>
          </div>
          </div>

      </div>
      

    
    </ion-content>
    <!--
    <ion-content class="slideright" >

    
    </ion-content>
    <ion-content class="slideright" ng-if="browserStatus.feature != null">

    
    </ion-content>
  -->
    

</div>
