<div class="modal" ng-controller="StreetsBrowserCtrl">

    <ion-header-bar class="bar-positive">
      <button class="button icon ion-arrow-left-a" ng-if="context == 'municipality' && !singleMode" ng-click="back()"></button>
      <h1 class="title">Streets</h1>
      <button class="button icon ion-close-round" ng-click="closeStreetsBrowser()"></button>
    </ion-header-bar>
    
    <div class="bar bar-subheader bar-calm fader"  style="z-index:11;">
        <h3 ng-show="context == 'index'" class="title">Choose a location</h3>
        <h2 ng-show="context == 'municipality'" class="title">{{browserStatus.municipality || 'Unknown'}}</h2>
    </div>
    
    
    <ion-content class="has-subheader" ng-class="{ 'has-footer': context == 'municipality' }">
    
      
      <div class="list slideright" ng-show="context == 'index'" style="z-index:10">
        <a href="#" class="item" ng-repeat="municipality in municipalities" ng-click="toMunicipality(municipality)">
          {{ municipality || 'Unknown' }}
        </a>
      </div>
      

      <div class="slideright" ng-if="context == 'municipality'" style="z-index:11;" ng-show="context == 'municipality'">

        <div class="card" ng-if="browserStatus.filter.length < 1 && features.length > 100">
          <div class="item item-text-wrap calm-background">
          Please type in at least a letter of the street name you are looking for.
          </div>
        </div>

        <div class="card" ng-if="!browserStatus.filter.length && features.length <= 100">
          <div class="item item-text-wrap calm-background">
            <b>Tip:</b> To narrow your search type in some letters of the street name you are searching for. <span><b>Results limited to 100 items</b> Please type in some more character to show more results.</span>
          </div>
        </div>
            

        <ion-list>
          <ion-item collection-repeat="feature in features" ng-click="centerFeature(feature)">
            <h3>{{ feature.properties.name }}<span ng-if="feature.properties.municipality && feature.properties.municipality != municipality"> ({{ feature.properties.municipality }})</span></h3>
            <h4>Street type: {{ feature.properties.highway }}</h4>
          </ion-item>


        </ion-list>
      
      </div>
    
     
    </ion-content>


    <div class="bar bar-footer bar-positive item-input-inset" ng-if="context == 'municipality'">

      <div class="buttons">
          <button class="button button-positive" ng-click="clearFilter()">
            Clear
          </button>
        </div>

        <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
          <input type="search" placeholder="Search here" ng-model="browserStatus.filter">
        </label>

        <div class="buttons">
          <button class="button button-positive" ng-disabled="!browserStatus.filter.length">
            Search
          </button>
        </div>
        

    </div>
    

</div>
