<div class="modal" ng-controller="StreetsBrowserCtrl">
    <ion-header-bar class="bar-positive">
      <button class="button icon ion-arrow-left-a" ng-if="browserStatus.municipality" ng-click="back()"></button>
      <h1 class="title">Streets</h1>
      <button class="button icon ion-close-round" ng-click="closeStreetsBrowser()"></button>
    </ion-header-bar>
    
    <div class="bar bar-subheader bar-positive fader"  style="z-index:11;">
        <h3 ng-show="context == 'index'" class="title">Choose a municipality</h3>
        <h2 ng-show="context == 'municipality'" class="title">{{browserStatus.municipality}}</h2>
    </div>


    

    
    <ion-content class="has-subheader" ng-class="{ 'has-footer': context == 'municipality' }">
    
      <div class="list slideright" ng-show="context == 'index'" style="z-index:10">
        <a href="#" class="item" ng-repeat="municipality in municipalities" ng-click="toMunicipality(municipality)">
          {{municipality}}
        </a>
      </div>


      

      <div class="slideright" ng-if="context == 'municipality'" style="z-index:11;" ng-show="context == 'municipality'">
            

        <ion-list>
          <ion-item ng-repeat="feature in features | filter:browserStatus.filter" ng-click="centerFeature(feature)">
            <h3>{{ feature.properties.name }}</h3>
            <h4>Street type: {{ feature.properties.highway }}</h4>
          </ion-item>
        
        <!--
        <ion-infinite-scroll
          on-infinite="loadPartial()"
          sdistance="10%" ng-if="stopLoad==false">
        </ion-infinite-scroll>
        -->

        </ion-list>
      
      </div>


    
    
     
    </ion-content>


    <div class="bar bar-footer bar-positive item-input-inset" ng-if="context == 'municipality'">

        <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
          <input type="search" placeholder="Filter" ng-model="browserStatus.filter">
        </label>

        <button class="button button-clear" ng-click="clearFilter()">
          Clear
        </button>
        

    </div>
    

</div>
