/* Empty. Add your own CSS if you like */


.main-map{
    position:absolute;
    z-index:1000;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.layers-browser{
    position:absolute;
    z-index:1100;
    max-height: 300px;
    left:10px;
    right:10px;
    bottom:65px;
    border-radius: 4px;
    background-color: rgba(0,0,0,.4);
    color:white;
}



.toolbar{
    position:absolute;
    z-index:1100;
    right:10px;
    top:10px;
    padding:10px;
    background:rgba(0,0,0,.4);
}

.bottom-toolbar{
    position:absolute;
    z-index:1100;
    left:10px;
    bottom:10px;
    padding:10px;
    background:rgba(0,0,0,.4);
}


.about-logo{
    width:120px;
}

.transparent-box *{
 color:white;      
}

.transparent{
 background:rgba(0,0,0,.4);
 color:white;   
}


.aa.ng-enter {
    -webkit-animation: flipInX .6s;
    animation: flipInX .6s;
}
 
.aa.ng-leave {
    animation: flipOutX .6s;
    -webkit-animation: flipOutX .6s;
 
}

.slideright{
    top:0px;
    width:100%;
    position:absolute;
}

.slideright.ng-enter {
    -webkit-animation: slideInRight .6s;
    animation: slideInRight .6s;
}
 
.slideright.ng-leave {
    animation: slideOutLeft .6s;
    -webkit-animation: slideOutLeft .6s;
 
}


/* from: http://stackoverflow.com/questions/20409632/android-4-3-and-phonegap-cant-tap-link */
.androidpaintfix {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0, 0, 0);
}



.popover {
  position: relative;
  width: 200px;
    height: 100px;
    background-color: rgba(0,0,0,.7);
    border-radius: 4px;
  box-shadow: 2px 2px 4px #AAA; 
  z-index:1200;
  top:20px;
  
}

.popover-arrow {
    position: absolute;
    top: -20px;
    left: 80px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid rgba(0,0,0,.7);
    width: 0;
    height: 0;
    /*-webkit-filter: drop-shadow(0 -2px 2px #AAA); */
}

.popover-content{
    color:white;
    padding:4px;
}

.hide{
    display:none;
}